.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.mainContent {
  margin-left: 250px;
  flex: 1;
  background-color: var(--body-bg);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .mainContent {
    margin-left: 0;
    width: 100%;
  }
}
