@import "tailwindcss";

:root {
  --primary-color: #16ADE1;
  --sidebar-bg: #1A1A1A;
  --sidebar-text: #A0A0A0;
  --sidebar-text-hover: #FFFFFF;
  --body-bg: #F4F5F7;
  --text-dark: #333333;
  --card-bg: #FFFFFF;
  --border-color: #E2E8F0;
  
  --font-tomorrow: 'Tomorrow', sans-serif;
}

body {
  background-color: var(--body-bg);
  color: var(--text-dark);
  font-family: var(--font-tomorrow);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
